.btn,
button.btn,
input[type="submit"].btn,
input[type="submit"].button,
.um-form input[type="submit"].um-button,
.hbspt-form input[type="submit"],
.hbspt-form input[type="submit"],
.hbspt-form .hs-button {
    color: #fff;
    background-color: var(--color__blue_shade_2);
    border-color: var(--color__blue_shade_2);
}
.btn:hover,
button.btn:hover,
input[type="submit"].btn:hover,
input[type="submit"].button:hover,
.um-form input[type="submit"].um-button:hover,
.hbspt-form input[type="submit"]:hover,
.hbspt-form input[type="submit"]:hover,
.hbspt-form .hs-button:hover {
    color: #fff;
    background-color: var(--color__blue_shade_3);
    border-color: var(--color__blue_shade_3);
}
.btn-secondary,
button.btn-secondary,
input[type="submit"].btn-secondary {
    color: #fff;
}
.btn-secondary:hover,
button.btn-secondary:hover,
input[type="submit"].btn-secondary:hover {
    color: #fff;
}
.btn-outline,
button.btn-outline,
input[type="submit"].btn-outline {
    border-color: var(--color__blue_shade_2);
    color: var(--color__blue_shade_2);
    background-color: transparent;
}
.btn-outline:hover,
button.btn-outline:hover,
input[type="submit"].btn-outline:hover {
    color: #fff !important;
    border-color: var(--color__blue_shade_3) !important;
    background-color: var(--color__blue_shade_3) !important;
}
.btn-outline.border-white:hover,
button.btn-outline.border-white:hover,
input[type="submit"].btn-outline.border-white:hover {
    color: var(--color__blue_shade_2) !important;
    border-color: #fff !important;
    background-color: #fff !important;
}
.btn.btn-nav-item {
    color: var(--text_color__grey_shade_7);
    border-color: transparent;
    background-color: transparent;
}
.btn.btn-nav-item:hover,
.btn.btn-nav-item.active {
    color: #fff;
    border-color: var(--color__grey_shade_11);
    background-color: var(--color__grey_shade_11);
}
.tabs:not(.nav-document-library) .nav-item > button.btn:not(.active):not(.btn-secondary) {
    color: var(--color__grey_shade_8) !important;
    background-color: transparent;
}
.tabs:not(.nav-document-library) .nav-item > button.btn:not(.active):not(.btn-secondary):hover {
    color: var(--color__grey_shade_7) !important;
}
.tabs:not(.nav-document-library) .nav-item > button.btn.active.btn-secondary {
    color: #fff;
    background-color: var(--color__grey_shade_11);
}
.tabs:not(.nav-document-library) .nav-item > button.btn.active.btn-secondary:hover {
    color: #fff;
    background-color: var(--color__grey_shade_10);
}
.tabs:not(.nav-document-library) .nav-item > button.btn.btn-secondary:not(.active) {
    color: #fff;
    background-color: var(--color__grey_shade_6) !important;
    border: 0;
}
.tabs:not(.nav-document-library) .nav-item > button.btn.btn-secondary:not(.active):hover {
    color: #fff;
    background-color: var(--color__grey_shade_5) !important;
    border: 0;
}
.tabs.nav-document-library .nav-item > button.btn {
    color: var(--color__grey_shade_10) !important;
    background-color: transparent;
}
.tabs.nav-document-library .nav-item > button.btn:hover {
    color: var(--color__grey_shade_10) !important;
    background-color: var(--color__grey_shade_1) !important;
}
.tabs.nav-document-library .nav-item > button.btn.active {
    color: var(--color__grey_shade_10) !important;
    background-color: #fff;
}
.pagination-btn > a:not(.active),
.pagination-btn > span {
    color: var(--color__blue_shade_2) !important;
    border-color: var(--color__blue_shade_2) !important;
    background-color: transparent;
}
.pagination-btn > span {
    border: none !important;
    cursor: default !important;
}
.pagination-btn > a.active {
    background-color: var(--color__blue_shade_2) !important;
    color: #fff !important;
    border-color: var(--color__blue_shade_2) !important;
}
.pagination-btn > a:hover {
    border-color: var(--color__blue_shade_3) !important;
    background-color: var(--color__blue_shade_3) !important;
    color: #fff !important;
    opacity: 1 !important;
}
.btn,
button.btn,
input[type="submit"].btn,
.um-form input[type="submit"].um-button,
.hbspt-form input[type="submit"],
.hbspt-form input[type="submit"],
.hbspt-form .hs-button,
.pagination-btn > a,
.pagination-btn > span {
    display: inline-block;
    padding: 0.87em 1.5em 0.93em 1.5em;
    font-size: var(--font__size_small_2);
    letter-spacing: var(--font__letter_spacing_10);
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1em;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    border-radius: 5em;
    border-width: var(--line__thin);
    border-style: solid;
    -khtml-user-drag: none !important;
    -khtml-user-select: none !important;
    -khtml-user-select: none !important;
    -webkit-touch-callout: none !important;
    -webkit-user-drag: none !important;
    -moz-user-drag: none !important;
    -o-user-drag: none !important;
    user-drag: none !important;
    -o-user-select: none !important;
}
.btn:hover,
button.btn:hover,
input[type="submit"].btn:hover,
.um-form input[type="submit"].um-button:hover,
.hbspt-form input[type="submit"]:hover,
.hbspt-form input[type="submit"]:hover,
.hbspt-form .hs-button:hover {
    -webkit-transition: background 300ms ease, border 300ms ease, color 300ms ease;
    -o-transition: background 300ms ease, border 300ms ease, color 300ms ease;
    transition: background 300ms ease, border 300ms ease, color 300ms ease;
}
.btn-check.btn:focus,
.btn:focus,
button:focus:not(:focus-visible),
button.btn:focus,
input[type="submit"].btn:focus,
.hbspt-form input[type="submit"]:focus,
.hbspt-form input[type="submit"]:focus,
.hbspt-form .hs-button:focus {
    outline: 0;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
.btn-secondary,
button.btn-secondary,
input[type="submit"].btn-secondary {
    border: 0;
}
.btn-secondary:hover,
button.btn-secondary:hover,
input[type="submit"].btn-secondary:hover {
    border: 0;
}
.btn-light,
button.btn-light,
input[type="submit"].btn-light {
    border: 0;
}
.btn-light:hover,
button.btn-light:hover,
input[type="submit"].btn-light:hover {
    border: 0;
}
.btn-outline,
button.btn-outline,
input[type="submit"].btn-outline {
    border-width: var(--line__thin);
    border-style: solid;
    background-color: transparent;
}
.btn-circle,
button.btn-circle {
    display: -ms-flexbox !important;
    display: -webkit-box !important;
    display: flex !important;
    min-width: 2.45em;
    padding: 0.5em !important;
    overflow: hidden;
    font-size: var(--font__size_normal);
    line-height: 1em;
    -webkit-transition: padding 300ms ease-in-out, width 300ms ease-in-out;
    -o-transition: padding 300ms ease-in-out, width 300ms ease-in-out;
    transition: padding 300ms ease-in-out, width 300ms ease-in-out;
    text-align: center;
    border-radius: 5em;
    align-items: center !important;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
}
.btn-circle:hover,
button.btn-circle:hover {
    padding: 0.5em 1em 0.5em 1em !important;
    -webkit-transition: padding 300ms ease-in-out, width 300ms ease-in-out;
    -o-transition: padding 300ms ease-in-out, width 300ms ease-in-out;
    transition: padding 300ms ease-in-out, width 300ms ease-in-out;
}
label.btn-circle span,
.btn-circle span,
button.btn-circle span {
    margin-right: -10em;
    font-size: var(--font__size_small_2);
    -webkit-transition: margin 300ms ease-in-out;
    -o-transition: margin 300ms ease-in-out;
    transition: margin 300ms ease-in-out;
    white-space: nowrap !important;
    opacity: 0;
    -webkit-user-select: none!important;
    -moz-user-select: none!important;
    -ms-user-select: none!important;
    user-select: none!important;
    -khtml-user-drag: none!important;
    -khtml-user-select: none!important;
    -khtml-user-select: none!important;
    -webkit-touch-callout: none!important;
    -webkit-user-drag: none!important;
    -moz-user-drag: none!important;
    -o-user-drag: none!important;
    user-drag: none!important;
    -o-user-select: none!important;
}
.btn-circle:hover span,
button.btn-circle:hover span {
    margin: 0;
    -webkit-transition: margin 300ms ease-in-out, opacity 300ms ease-in-out;
    -o-transition: margin 300ms ease-in-out, opacity 300ms ease-in-out;
    transition: margin 300ms ease-in-out, opacity 300ms ease-in-out;
    opacity: 1;
    cursor: pointer;
}
.btn-circle i,
button.btn-circle i {
    font-size: 1.3em;
    line-height: 1em;
}
.btn-circle:hover i,
button.btn-circle:hover i {
    margin-right: 0.35em;
}
.btn.btn-nav-item {
    border-width: var(--line__thin);
    border-style: solid;
}
.btn-icon-text {
    display: -ms-inline-flexbox!important;
    display: -webkit-inline-box!important;
    display: inline-flex!important;
    align-items: center !important;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
}
.btn-icon-text span {
    margin-left: 0.5em;
    cursor: pointer;
}
.btn-icon-text i {
    font-size: 1.5em;
    margin-top: -0.5em;
    margin-bottom: -0.5em;
}

.btn.btn-nav-item:hover,
.btn.btn-nav-item.active {
    -webkit-transition: background 300ms ease, border 300ms ease, color 300ms ease;
    -o-transition: background 300ms ease, border 300ms ease, color 300ms ease;
    transition: background 300ms ease, border 300ms ease, color 300ms ease;
    border-width: var(--line__thin);
    border-style: solid;
}
@media screen and (max-width: 991px) {
    header nav .nav-link.btn {
        display: block;
        padding-top: 0.6em;
        padding-right: 0;
        padding-bottom: 0.6em;
        padding-left: 0;
        font-size: var(--font__size_normal);
        font-weight: 500;
        line-height: 1.2em;
        -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out !important;
        -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out !important;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out !important;
        text-decoration: none;
        border: none !important;
        border-radius: 0;
        background: none !important;
    }
}
@media screen and (min-width: 992px) {
    header nav .nav-link.btn:hover {
        border-color: var(--color__blue_shade_1) !important;
        background-color: var(--color__blue_shade_1) !important;
    }
}
.pagination-btns {
    display: -ms-flexbox;
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center !important;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    -webkit-box-pack: justify !important;
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
    list-style: none !important;
}
@media screen and (min-width: 768px) {
    .pagination-btns {
        -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
        justify-content: center !important;
    }
}
.pagination-btn > a {
    border-width: var(--line__thin);
    border-style: solid;
    padding-left: calc(0.5 * var(--font__size_body)) !important;
    padding-right: calc(0.5 * var(--font__size_body)) !important;
    padding-bottom: calc(0.25 * var(--font__size_body)) !important;
    padding-top: calc(0.25 * var(--font__size_body)) !important;
    line-height: var(--font__line_height_5) !important;
    font-size: var(--font__size_small_1) !important;
    font-weight: 700 !important;
    width: auto;
    max-width: 100%;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    position: relative;
}
@media screen and (min-width: 768px) {
    .pagination-btn > a {
        padding-left: calc(1 * var(--font__size_body)) !important;
        padding-right: calc(1 * var(--font__size_body)) !important;
        padding-bottom: calc(0.5 * var(--font__size_body)) !important;
        padding-top: calc(0.5 * var(--font__size_body)) !important;
        font-size: var(--font__size_normal) !important;
    }
}
.btn-thumbnail {
    cursor: pointer;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    vertical-align: middle;
    text-decoration: none;
    border: 0;
    border-radius: 0;
    background-color: transparent;
    -khtml-user-drag: none !important;
    -khtml-user-select: none !important;
    -webkit-appearance: none;
    -webkit-touch-callout: none !important;
    -webkit-user-drag: none !important;
    -moz-user-drag: none !important;
    -o-user-drag: none !important;
    user-drag: none !important;
    -o-user-select: none !important;
}
.btn-thumbnail .thumbnail {
    -webkit-transition: border 0.2s ease-in-out, box-shadow 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
    -o-transition: border 0.2s ease-in-out, box-shadow 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
    transition: border 0.2s ease-in-out, box-shadow 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
    border-width: var(--line__thin);
    border-style: solid;
    border-color: transparent;
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
}
.btn-thumbnail:hover .thumbnail {
    border-width: var(--line__thin);
    border-style: solid;
    border-color: var(--color__grey_shade_8);
    -webkit-box-shadow: 0 0 1.5em -0.625em rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 1.5em -0.625em rgba(0, 0, 0, 0.5);
}
.hbspt-form input[type="submit"],
.hbspt-form input[type="submit"],
.hbspt-form .hs-button {
    display: block;
    margin: auto;
    margin-top: 2em;
    font-size: 0.8125em;
}
