:root {
    --input_bg_color: #ffffff;
    --input_bg_color_hover: #ffffff;
    --input_padding: .5em 1em;
    --input_padding_x: 1em;
    --input_padding_y: .5em;
    --input_border_radius: 1.5em;
    --input_border_style: solid;
    --input_border_width: var(--line__thiner);
    --input_border_color: var(--color__grey_shade_4);
    --input_transition: background-color 300ms ease;
    --select_bg_img: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448.02 447.99'%3E%3Cdefs%3E%3Cstyle%3E.d%7Bfill:none;%7D.e%7Bfill:%23808080;%7D%3C/style%3E%3C/defs%3E%3Cg id='a'/%3E%3Cg id='b'%3E%3Cg id='c'%3E%3Cpath class='e' d='M223.99,352c-8.19,0-16.38-3.12-22.62-9.38L9.38,150.62c-12.5-12.5-12.5-32.75,0-45.25s32.75-12.5,45.25,0l169.37,169.42L393.39,105.4c12.5-12.5,32.75-12.5,45.25,0s12.5,32.75,0,45.25l-192,192c-6.25,6.25-14.45,9.35-22.65,9.35Z'/%3E%3Crect class='d' width='447.99' height='447.99'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    --date_bg_img: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cdefs%3E%3Cstyle%3E.d%7Bfill:none;%7D.e%7Bfill:%23808080;%7D%3C/style%3E%3C/defs%3E%3Cg id='a'/%3E%3Cg id='b'%3E%3Cg id='c'%3E%3Cpath class='e' d='M192,32v32h128V32c0-17.67,14.3-32,32-32s32,14.33,32,32v32h48c26.5,0,48,21.49,48,48v48H32v-48c0-26.51,21.49-48,48-48h48V32c0-17.67,14.3-32,32-32s32,14.33,32,32ZM32,192H480V464c0,26.5-21.5,48-48,48H80c-26.51,0-48-21.5-48-48V192Zm64,112c0,8.8,7.16,16,16,16h32c8.8,0,16-7.2,16-16v-32c0-8.8-7.2-16-16-16h-32c-8.84,0-16,7.2-16,16v32Zm128,0c0,8.8,7.2,16,16,16h32c8.8,0,16-7.2,16-16v-32c0-8.8-7.2-16-16-16h-32c-8.8,0-16,7.2-16,16v32Zm144-48c-8.8,0-16,7.2-16,16v32c0,8.8,7.2,16,16,16h32c8.8,0,16-7.2,16-16v-32c0-8.8-7.2-16-16-16h-32ZM96,432c0,8.8,7.16,16,16,16h32c8.8,0,16-7.2,16-16v-32c0-8.8-7.2-16-16-16h-32c-8.84,0-16,7.2-16,16v32Zm144-48c-8.8,0-16,7.2-16,16v32c0,8.8,7.2,16,16,16h32c8.8,0,16-7.2,16-16v-32c0-8.8-7.2-16-16-16h-32Zm112,48c0,8.8,7.2,16,16,16h32c8.8,0,16-7.2,16-16v-32c0-8.8-7.2-16-16-16h-32c-8.8,0-16,7.2-16,16v32Z'/%3E%3Crect class='d' width='512' height='512'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    --week_bg_img: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cdefs%3E%3Cstyle%3E.d%7Bfill:none;%7D.e%7Bfill:%23808080;%7D%3C/style%3E%3C/defs%3E%3Cg id='a'/%3E%3Cg id='b'%3E%3Cg id='c'%3E%3Cpath class='e' d='M192,32v32h128V32c0-17.67,14.3-32,32-32s32,14.33,32,32v32h48c26.5,0,48,21.49,48,48v48H32v-48c0-26.51,21.49-48,48-48h48V32c0-17.67,14.3-32,32-32s32,14.33,32,32ZM32,192H480V464c0,26.5-21.5,48-48,48H80c-26.51,0-48-21.5-48-48V192Zm80,64c-8.84,0-16,7.2-16,16v64c0,8.8,7.16,16,16,16H400c8.8,0,16-7.2,16-16v-64c0-8.8-7.2-16-16-16H112Z'/%3E%3Crect class='d' width='512' height='512'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    --day_bg_img: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cdefs%3E%3Cstyle%3E.d%7Bfill:none;%7D.e%7Bfill:%23808080;%7D%3C/style%3E%3C/defs%3E%3Cg id='a'/%3E%3Cg id='b'%3E%3Cg id='c'%3E%3Cpath class='e' d='M192,32v32h128V32c0-17.67,14.3-32,32-32s32,14.33,32,32v32h48c26.5,0,48,21.49,48,48v48H32v-48c0-26.51,21.49-48,48-48h48V32c0-17.67,14.3-32,32-32s32,14.33,32,32ZM32,192H480V464c0,26.5-21.5,48-48,48H80c-26.51,0-48-21.5-48-48V192Zm80,64c-8.84,0-16,7.2-16,16v96c0,8.8,7.16,16,16,16h96c8.8,0,16-7.2,16-16v-96c0-8.8-7.2-16-16-16H112Z'/%3E%3Crect class='d' width='512' height='512'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    --time_bg_img: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cdefs%3E%3Cstyle%3E.d%7Bfill:%23808080;%7D%3C/style%3E%3C/defs%3E%3Cg id='a'/%3E%3Cg id='b'%3E%3Cg id='c'%3E%3Cpath class='d' d='M256,48.9c55.33,0,107.34,21.54,146.45,60.65s60.65,91.12,60.65,146.45-21.54,107.34-60.65,146.45-91.12,60.65-146.45,60.65-107.34-21.54-146.45-60.65-60.65-91.12-60.65-146.45,21.54-107.34,60.65-146.45,91.12-60.65,146.45-60.65m0-48.9C114.6,0,0,114.6,0,256s114.6,256,256,256,256-114.6,256-256S397.4,0,256,0h0Z'/%3E%3Cpath class='d' d='M232,266c0,8,4,15.5,10.7,19.1l96,64c11,8.2,25.9,5.2,32.4-5.8,8.2-11,5.2-25.9-5.8-33.3l-85.3-56.8v-123.2c0-13.3-10.7-24-24.9-24-12.4,0-24,10.7-24,24l.9,136Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

label {
	margin-bottom: .3em
}
form *,
input[type="text"],
input[type="email"],
input[type="search"],
input[type="tel"],
input[type="number"],
input[type="password"],
input[type="textarea"],
input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="checkbox"],
textarea,
select {
	-webkit-user-select: initial !important;
	-moz-user-select: initial !important;
	-ms-user-select: initial !important;
	user-select: initial !important;
	-khtml-user-drag: initial !important;
	-khtml-user-select: initial !important;
	-khtml-user-select: initial !important;
	-webkit-touch-callout: initial !important;
	-webkit-user-drag: initial !important;
	-moz-user-drag: initial !important;
	-o-user-drag: initial !important;
	user-drag: initial !important;
	-o-user-select: initial !important
}
input[type="text"],
input[type="email"],
input[type="search"],
input[type="tel"],
input[type="number"],
input[type="password"],
input[type="textarea"],
input[type="date"],
input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="time"],
textarea,
select,
.qmod-sec-filings .qmod-modifiers .qmod-modifier .qmod-dropdown_toggle,
.qmod-dropdown_toggle,
.qmod-ui-tool input[type="date"],
.qmod-ui-tool input[type="text"],
.qmod-ui-tool input[type="email"],
.qmod-ui-tool input[type="password"],
.qmod-ui-tool input[type="text"].qmod-datepicker,
.hbspt-form input[type=text],
.hbspt-form input[type=date],
.hbspt-form input[type=number],
.hbspt-form input[type=password],
.hbspt-form input[type=search],
.hbspt-form input[type=tel],
.hbspt-form input[type=url],
.hbspt-form input[type=email],
.hbspt-form input[type=submit]:not(.btn):not(.button):not(.hs-button),
.hbspt-form input[type="submit"]:not(.btn):not(.button):not(.hs-button),
.hbspt-form input[type="reset"],
.hbspt-form input[type="text"],
.hbspt-form input[type="search"],
.hbspt-form input[type="tel"],
.hbspt-form input[type="number"],
.hbspt-form input[type="password"],
.hbspt-form input:not(.btn):not(.button):not(.hs-button):not([type="checkbox"]):not([type=checkbox]),
.hbspt-form textarea,
.hbspt-form select {
	width: 100%;
	height: auto;
	padding: var(--input_padding);
	margin-bottom: .8em;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-family: var(--font__family);
    font-size: var(--font__size_small_1);
	line-height: var(--font__line_height_4);
	cursor: pointer;
	vertical-align: middle;
	text-decoration: none;
	text-indent: 0;
	letter-spacing: 0;
	color: var(--text_color__gray_shade_7);
	border-width: var(--input_border_width);
	border-style: var(--input_border_style);
	border-color: var(--input_border_color);
	border-radius: var(--input_border_radius);
	background-color: var(--input_bg_color);
	-webkit-box-shadow: none;
	box-shadow: none;
	align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center
}
input[type="checkbox"] {
	cursor: pointer
}
textarea {
	display: block
}

select {
	padding-right: calc(var(--input_padding_x) * 2.6);
	padding-left: calc(var(--input_padding_x) * 1);
	background-image: var(--select_bg_img);
	background-repeat: no-repeat;
	background-position-x: calc(100% - .8em);
	background-position-y: center;
	background-size: .75em;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none
}
select option {
	background: #fff
}
input[type="text"]:hover,
input[type="date"]:hover,
input[type="textarea"]:hover,
input[type="email"]:hover,
input[type="search"]:hover,
input[type="tel"]:hover,
input[type="number"]:hover,
input[type="password"]:hover,
textarea:hover,
select:hover,
.qmod-dropdown_toggle:hover,
.qmod-ui-tool input[type="date"]:hover,
.qmod-ui-tool input[type="text"]:hover,
.qmod-ui-tool input[type="textarea"]:hover,
.qmod-ui-tool input[type="email"]:hover,
.qmod-ui-tool input[type="password"]:hover,
.qmod-ui-tool input[type="text"].qmod-datepicker:hover {
	-webkit-transition: var(--input_transition);
	-o-transition: var(--input_transition);
	transition: var(--input_transition);
	background-color: var(--input_bg_color_hover)
}
input[type="text"]:focus,
input[type="date"]:focus,
input[type="textarea"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus,
.qmod-dropdown_toggle:focus,
.qmod-ui-tool input[type="date"]:focus,
.qmod-ui-tool input[type="text"]:focus,
.qmod-ui-tool input[type="textarea"]:focus,
.qmod-ui-tool input[type="email"]:focus,
.qmod-ui-tool input[type="password"]:focus,
.qmod-ui-tool input[type="text"].qmod-datepicker:focus {
	background-color: var(--input_bg_color_hover)
}
input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="time"] {
	position: relative;
	cursor: pointer;
	background-color: transparent;
	background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: calc(100% - 0.8em);
	background-size: 1.25em;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none
}
input[type="date"],
input[type="datetime-local"],
input[type="month"] {
	background-image: var(--date_bg_img);
}
input[type="week"] {
	background-image: var(--week_bg_img);
}
input[type="day"] {
	background-image: var(--day_bg_img);
}
input[type="time"] {
	background-image: var(--time_bg_img);
}
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="datetime-local"]::-webkit-calendar-picker-indicator,
input[type="month"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator,
input[type="week"]::-webkit-calendar-picker-indicator {
	position: absolute;
	width: 100%;
	height: 100%;
	cursor: pointer;
	background: transparent;
}
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 0.5em;
    background: var(--color__gray_shade_2);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 1em;
    border-style: solid;
    border-width: var(--input_border_width);
    border-style: var(--input_border_style);
    border-color: var(--input_border_color);
    border-radius: var(--input_border_radius);
    font-size: var(--font__size_small_1);
}
input[type="range"]:hover {
    opacity: 1; 
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 1.2em; 
    height: 1.2em;
    background: var(--color__blue_shade_3);
    border-radius: 10em;
}
input[type="range"]::-moz-range-thumb {
    width: 1.2em; 
    height: 1.2em;
    background: var(--color__blue_shade_3);
    border-radius: 10em;
    cursor: pointer; 
}
.input-radio {
    display: -ms-inline-flexbox;
    display: -webkit-inline-box;
    display: inline-flex;
    align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    cursor: pointer; 
}
.input-radio input[type="radio"] {
    display: block;
    cursor: pointer; 
}
.input-radio span {
    font-size: var(--font__size_small_1);
    color: var(--text_color__gray_shade_7);
    margin-left: .3em;
    display: block;
    cursor: pointer; 
}
.input-checkbox {
    display: -ms-inline-flexbox;
    display: -webkit-inline-box;
    display: inline-flex;
    align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    cursor: pointer; 
}
.input-checkbox input[type="checkbox"] {
    display: block;
    cursor: pointer; 
}
.input-checkbox span {
    font-size: var(--font__size_small_1);
    color: var(--text_color__gray_shade_7);
    margin-left: .3em;
    display: block;
    cursor: pointer; 
}
form .fa,
form .far,
form .far.fa-eye,
form .far.fa-eye.fa-eye-slash,
input .fa,
input .far,
input .far.fa-eye,
input .far.fa-eye.fa-eye-slash,
select .fa,
select .far,
select .far.fa-eye,
select .far.fa-eye.fa-eye-slash {
	color: var(--text_color__gray_shade_7);
}
form .fa:hover,
form .far:hover,
form .far.fa-eye:hover,
form .far.fa-eye.fa-eye-slash:hover,
input .fa:hover,
input .far:hover,
input .far.fa-eye:hover,
input .far.fa-eye.fa-eye-slash:hover,
select .fa:hover,
select .far:hover,
select .far.fa-eye:hover,
select .far.fa-eye.fa-eye-slash:hover {
	-webkit-transition: color 200ms ease;
	-o-transition: color 200ms ease;
	transition: color 200ms ease;
	color: var(--hyperlink_color)
}



/*
pages-website/etc/home.php.backup2:
pages-website/etc/home.php.backup:
pages-website/other/knowledge-base.php:
pages-website/other/help.php:
pages-website/other/case-studies.php:
pages-blog/blog.php:
*/
.input-btn-inside {
    position: relative;

    min-height: 2.5em;

    font-size: var(--font__size_normal);
}
.input-btn-inside input[type="text"],
.input-btn-inside input[type="date"],
.input-btn-inside input[type="textarea"],
.input-btn-inside input[type="email"],
.input-btn-inside input[type="search"],
.input-btn-inside input[type="tel"],
.input-btn-inside input[type="number"],
.input-btn-inside input[type="password"] {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    margin: 0;
}


.input-btn-inside .input-btn-container {
    position: absolute;
    top: 0;
    right: 0;

    display: -ms-flexbox !important;
    display: -webkit-box !important;
    display: flex !important;
    height: 100%;

    align-items: center !important;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
}
.input-btn-inside .input-btn-container > input[type="submit"] {
    height: calc(100% - .55em);
    /*width: 7em;*/
    margin-right: .275em;
}
.input-btn-inside .input-btn-container > input[type="submit"].btn {
    padding: .57em 1.5em .63em 1.5em;
}

/*------------------------------------------------*/
/*------------------------------------------------*/
/*------------------------------------------------*/
/*------------------------------------------------*/
/*
pages-website/etc/energy.php.backup:
pages-website/etc/home.php.backup2:
pages-website/etc/home.php.backup3:
pages-website/etc/home.php.backup:
pages-blog/blog.php:
*/
#newsletter-form {
    width: 100%;
    min-width: inherit;
    overflow: visible;
}
@media screen and (min-width: 992px) {
    #newsletter-form {
        min-width: 31.25em;
    }
}
#newsletter-form {
    max-width: 37.5em;
}
/*------------------------------------------------*/
/*------------------------------------------------*/

.um-field {
	padding: 0
}

.um-field-arrow {
	display: none !important
}

.um-field-error {
	padding-left: .45em !important;
	margin-top: -.78em !important;
	margin-bottom: .45em !important;
	color: #ca4242 !important
}

.um-login .um-field-checkbox {
	padding-left: .45em;
	margin-top: -.3125em !important;
	margin-bottom: 1em !important;
	font-size: var(--font__size_small_1)
}

.um-field-checkbox:not(.um-field),
.um-field-radio:not(.um-field) {
	position: relative;
	display: block
}

.um-field-checkbox .um-field-checkbox-option,
.um-field-checkbox .um-field-radio-option {
	margin: 0 0 0 .15em
}

.um-field-checkbox-state,
.um-field-radio-state {
	position: absolute;
	top: 0;
	left: var(--thin_line_width);
	width: 1.5em;
	height: 1.5em
}

.um-field-checkbox-state i,
.um-field-radio-state i {
	height: 1.5em;
	font-size: 1.5em;
	line-height: 1.5em;
	-webkit-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
	color: var(--grey_color)
}

.um-field-checkbox .um-field-checkbox-state {
	display: none
}

.um-field-checkbox .um-field-checkbox-state {
	margin-bottom: 0 !important
}

.um-icon-android-checkbox-outline-blank:before {
	content: "\f372"
}

[class^="um-icon-"]:before,
[class*=" um-icon-"]:before {
	font-family: "Ionicons" !important;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	line-height: 1;
	text-transform: none !important;
	speak: none
}

.um-icon-android-checkbox-outline:before {
	content: "\f373"
}

.um .um-field-checkbox.active:not(.um-field-radio-state-disabled) i {
	color: var(--blue_light_color)
}

a.um-link-alt {
	display: block !important;
	font-weight: normal;
	line-height: 1.375em;
	text-align: center;
	text-decoration: none !important;
	color: var(--grey_dark_color) !important;
	border-bottom: none !important
}

.qmod-dropdown_toggle,
.qmod-ui-tool input[type="date"],
.qmod-ui-tool input[type="text"].qmod-datepicker {
	padding: .75em var(--input_padding_y)
}

a.qmod-dropdown_toggle .qmod-dd-icon {
	display: none
}

.qmod-dropdown-menu li>a.qmod-active {
	background-color: var(--blue_navy_color)
}

.qmod-btn-icon .right-addon i {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 100%
}

.qmod-ui-tool .inner-addon i:hover {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	color: var(--blue_cleanspark_color)
}

.qmod-fullnews .fa-calendar:before {
	align-self: center;
	-ms-flex-item-align: center;
	-ms-grid-row-align: center
}

.qmod-dropdown_toggle {
	margin-bottom: 0;
	text-decoration: none;
	background-color: var(--grey_light_color);
	background-image: var(--select_bg_img);
	background-repeat: no-repeat;
	background-position: right;
	background-position-x: 98%;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none
}

.qmod-dropdown_toggle i {
	display: none !important
}

.hbspt-form {
	width: 100%;
	max-width: 100% !important;
	border-radius: 0 !important;
	box-shadow: none !important
}

.hbspt-form * {
	font-size: inherit
}

.hbspt-form .input {
	margin-right: 0 !important;
	margin-left: 0 !important
}

.hbspt-form input,
.hbspt-form input[type=text],
.hbspt-form input[type=date],
.hbspt-form input[type=number],
.hbspt-form input[type=password],
.hbspt-form input[type=search],
.hbspt-form input[type=tel],
.hbspt-form input[type=url],
.hbspt-form input[type=email],
.hbspt-form input[type="reset"],
.hbspt-form input[type="text"],
.hbspt-form input[type="search"],
.hbspt-form input[type="tel"],
.hbspt-form input[type="number"],
.hbspt-form input[type="password"],
.hbspt-form select {
	margin-bottom: 0 !important
}

.hbspt-form .hs-form-field {
	padding-right: 0;
	padding-left: 0;
	margin-bottom: 1.25em
}

.hbspt-form fieldset.form-columns-1 .hs-input:not([type=checkbox]):not([type="checkbox"]) {
	width: 100% !important
}

@media(max-width:400px),
(min-device-width:320px) and (max-device-width:480px) {
	.hbspt-form .form-columns-2 .hs-form-field .hs-input:not([type=checkbox]):not([type="checkbox"]),
	.hbspt-form .form-columns-3 .hs-form-field .hs-input:not([type=checkbox]):not([type="checkbox"]) {
		width: 100% !important
	}
}

.hbspt-form fieldset.form-columns-1 .hs-form-field {
	padding-right: 0;
	padding-left: 0
}

@media screen and (min-width:768px) {
	.hbspt-form fieldset.form-columns-2 .hs-form-field:nth-child(1) {
		padding-right: .5em;
		padding-left: 0
	}
	.hbspt-form fieldset.form-columns-2 .hs-form-field:nth-child(2) {
		padding-right: 0;
		padding-left: .5em
	}
}

.hbspt-form label {
	margin-bottom: .25em;
	white-space: nowrap !important;
	overflow: hidden !important;
	text-overflow: ellipsis !important;
	white-space: nowrap !important;
	display: block
}

.hbspt-form .hs-error-msgs {
	padding-left: 0;
	margin-bottom: 0;
	font-size: .75em
}

.hbspt-form ul {
	list-style-type: none;
	padding: 0
}

.hbspt-form li {
	overflow: hidden
}

.hbspt-form fieldset {
	max-width: 100% !important
}

.hbspt-form .submitted-message {
	margin: 7em 0;
	text-align: center
}

.hbspt-form .hs-recaptcha {
	display: none !important
}

.hbspt-form input[type=checkbox],
.hbspt-form input[type="checkbox"] {
	width: auto;
	padding: .5em .5em;
	margin-right: .5em
}

.hbspt-interest-dropdown .dropdown-link {
	display: block !important;
	padding: var(--input_padding);
	padding-right: calc(var(--input_padding_x) * 2.6) !important;
	padding-left: calc(var(--input_padding_x) * 1) !important;
	cursor: pointer;
	border-width: var(--input_border_width);
	border-style: var(--input_border_style);
	border-color: var(--input_border_color);
	border-radius: var(--input_border_radius);
	background-color: #fff !important;
	background-image: var(--select_bg_img);

	
	background-repeat: no-repeat !important;
	background-position-x: calc(100% - .8em) !important;
	background-position-y: center !important;
	background-size: 1em !important
}

.hbspt-interest-dropdown .dropdown-link.dropdown-toggle::after {
	display: none !important
}

.hbspt-interest-dropdown .dropdown-menu {
	width: 100% !important;
	padding: 1em !important;
	margin-top: .5em !important;
	border-width: var(--input_border_width) !important;
	border-style: var(--input_border_style) !important;
	border-color: var(--input_border_color) !important;
	border-radius: 1em !important
}

.hbspt-interest-dropdown .dropdown-menu * {
	cursor: pointer;
}