:root {
    --font__family: "Open Sans", sans-serif;
    --font__family_display: "Quicksand";
    --scale_factor: 16;
}
@media (min-width: 420px) {
    :root {
        --scale_factor: 16;
    }
}
@media (min-width: 768px) {
    :root {
        --scale_factor: 21;
    }
}

/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/* FLUID ============================================================================== */
:root .fluid {
    --scale_factor: 13;
}
@media (min-width: 768px) and (orientation: portrait) {
    :root .fluid, :root .fluid-md {
        --scale_factor: 13;
    }  
}
@media (min-width: 768px) and (orientation: landscape) {
    :root .fluid, :root .fluid-md {
        --scale_factor: 16;
    }  
}
@media (min-width: 992px) and (orientation: portrait) {
    :root .fluid, :root .fluid-md, :root .fluid-lg {
        --scale_factor: 14;
    } 
}
@media (min-width: 992px) and (orientation: landscape) {
    :root .fluid, :root .fluid-md, :root .fluid-lg {
        --scale_factor: 16;
    }     
}
@media (min-width: 1200px) {
    :root .fluid, :root .fluid-md, :root .fluid-lg, :root .fluid-xl {
        --scale_factor: 16;
    }     
}
@media (min-width: 1400px) {
    :root .fluid, :root .fluid-md, :root .fluid-lg, :root .fluid-xl, :root .fluid-xxl {
        --scale_factor: 16;
    }     
}
@media (min-width: 1920px) {
    :root .fluid, :root .fluid-md, :root .fluid-lg, :root .fluid-xl, :root .fluid-xxl, :root .fluid-xxxl {
        --scale_factor: 21;
    }     
}
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/* ============================================================================== */
:root {
    --line__thinest: calc(calc(calc(calc(.5 * 100) / var(--scale_factor)) / 100) * var(--font__size_body));
    --line__thiner: calc(calc(calc(calc(1 * 100) / var(--scale_factor)) / 100) * var(--font__size_body));
    --line__thin: calc(calc(calc(calc(2 * 100) / var(--scale_factor)) / 100) * var(--font__size_body));
    --line__moderate: calc(calc(calc(calc(6 * 100) / var(--scale_factor)) / 100) * var(--font__size_body));
    --line__thick: calc(calc(calc(calc(10 * 100) / var(--scale_factor)) / 100) * var(--font__size_body));
    --line__thicker: calc(calc(calc(calc(12 * 100) / var(--scale_factor)) / 100) * var(--font__size_body));
    --line__thickest: calc(calc(calc(calc(14 * 100) / var(--scale_factor)) / 100) * var(--font__size_body));
}
/*
/*
/*
/*
/*
/*
/*
/*
/*
/*
/* ============================================================================== */
